.character-actions {
  margin-top: 1rem;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
}

.character-action-button {
  width: 35vw;
  max-width: 140px;
  font-size: clamp(14px, 2.5vw, 18px);
  padding: 8px 0;
  margin-bottom: 0.5rem;
  font-family: "Cinzel", serif;
  cursor: pointer;
  transition: transform 0.2s ease, box-shadow 0.2s ease;
}

.character-action-button:hover {
  transform: scale(1.05);
}

.character-action-button:active {
  transform: scale(1.05);
  box-shadow: 0 0 8px #fff;
}