@tailwind base;
@tailwind components;
@tailwind utilities;

body {
  font-family: "SS Homero", sans-serif;
}

@keyframes fadeInDown {
  0% {
    opacity: 0;
    transform: translateY(-10px);
  }
  100% {
    opacity: 1;
    transform: translateY(0);
  }
}

.fade-in-down {
  animation: fadeInDown 0.5s ease-out both;
}

@layer utilities {
  .text-outline {
    @apply text-yellow-300 font-bold;
    text-shadow:
      -2px -2px 0 #000,
      2px -2px 0 #000,
      -2px 2px 0 #000,
      2px 2px 0 #000,
      0 -2px 0 #000,
      0 2px 0 #000,
      -2px 0 0 #000,
      2px 0 0 #000;
  }

  .equip-allowed {
    @apply text-green-500;
  }

  .equip-denied {
    @apply text-red-500;
  }

  .better {
    @apply text-green-500;
  }

  .worse {
    @apply text-red-500;
  }

  .neutral {
    @apply text-gray-400;
  }
}
