@tailwind base;
@tailwind components;
@tailwind utilities;

@font-face {
  font-family: 'SS Homero';
  src: url('../public/assets/fonts/ss_homero_demo-webfont.woff2') format('woff2'),
       url('../public/assets/fonts/ss_homero_demo-webfont.woff') format('woff');
  font-weight: normal;
  font-style: normal;
}

body {
  font-family: 'SS Homero', sans-serif;
}

@keyframes fadeInDown {
  0% {
    opacity: 0;
    transform: translateY(-10px);
  }
  100% {
    opacity: 1;
    transform: translateY(0);
  }
}

.fade-in-down {
  animation: fadeInDown 0.5s ease-out both;
}
